.boundary {
    fill: none;
    stroke: #888;
    stroke-linejoin: round;
}

#mapChart {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    background-color: #504c4c;
}

#barChart {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    background-color: #504c4c;
}


/*
svg {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}*/

#tooltipMap {
    position: absolute;
    z-index: 2;
    background: rgba(0, 70, 30, 1.0);
    width: 100px;
    height: 20px;
    color: white;
    font-size: 14px;
    padding: 5px;
    top: -150px;
    left: -150px;
    font-family: Lucida Grande", sans-serif;

}

@font-face {
    font-family: "DinProBlack";
    src: url("../style/DINPro-Black.otf");
    font-size: 22pt;
    line-height: 26.4pt;
    font-style: normal;
}

@font-face {
    font-family: "DinProMedium1";
    src: url("../style/DINPro-Medium.otf");
    font-size: 15pt;
    line-height: 18pt;
    color: red;
    font-style: normal;
}

@font-face {
    font-family: "DinProMedium2";
    src: url("../style/DINPro-Medium.otf");
    font-size: 17pt;
    line-height: 20.4pt;
    font-style: normal;
}

@font-face {
    font-family: "DinProBold";
    src: url("../style/DINPro-Bold.otf");
    font-size: 30pt;
    line-height: 20pt;
    font-style: normal;
}